body {
    font-family: Arial;
    background: #f2f2f2;
}

.atm {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

